<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="/css-files/campaigns.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <title>login</title>
</head>

<body style="background-color:black;">
  <div class="container text-light h3" style="margin-top: 25vh; width: 30vw;">
    <form action="/login" method="post">
      <div class="form-group">
        <label class="h2">Email address</label>
        <label class="h4">if not login click here </label>

        <input type="emails" class="form-control" id="emails" name="emails" placeholder="Enter email" />
      </div>
      <div class="form-group">
        <label for="Passwords">Password</label>
        <input type="password" class="form-control" id="passwords" name="passwords" placeholder="Password" />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Login</button>
      <h5>Don't have any account?</h5><span><a type="button" href="/signup" class="h5">signup</a></span>
      <br /><br />
      <!-- <%=data.message%> -->
      <% if(data.message == 1){%>
        <h4 class="alert alert-danger m4-4 text-danger">ypur password is incorrect</h4>
        <% }else if(data.message == 0){%>
          <h4 class="alert alert-danger m4-4 text-danger">plese enter your password and email</h4>
        <% } %>
    
    </form>
  </div>
</body>

</html>