<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/mycss.css">
</head>

<body>
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">MailerHeavy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Dashbaord</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Campaigns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/subscribers">Subscribers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Forms</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                    <a class="btn btn-warning btn-my" href="/profile" role="button">Profile</a>
                    <a class="btn btn-warning btn-my" href="/auth/logout" role="button">Logout</a>
                </form>
                </div>
            </div>
        </nav>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="avatar-ctn">
                        <img src="/avatar.png" class="avatar" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{user.fname}}</h5>
                        <p class="card-text">ajd xhkajn sg dfg dsfhujb hdufh sifbcv aoj iih sd sfscrv</p>
                        <a href="#" class="btn btn-warning btn-my">{{user.email}}</a>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="cart text-center">
                    <div class="card-header">
                        Profile Page
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Hey {{user.fname}} Welcome back!</h5>
                        <p class="card-text">This is your profile page.</p>
                        <a href="#" class="btn btn-warning btn-my">click here</a>
                    </div>
                    <div class="card-footer text-muted">
                        MailerHeavy
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="jquery.js"></script>
    <script src="bootstrap.js"></script>
    <script src="server.js"></script>
</body>

</html>