th {
  border: solid 1px rgb(22, 230, 101);
}
table {
  border-collapse: collapse;
  /* table-layout: fixed; */
  /* width: 310px; */
}
table td {
  border: solid 1px rgb(22, 230, 101);
  width: 100px;
  word-wrap: break-word;
}
.no-border {
  border: 0px;
}
