li {
  margin-bottom: 30px;
}

.conatainer {
  display: flex;
  /* overflow-y: scroll; */
  /* white-space: nowrap; */
}
.main_area {
  padding-top: 10px;
  flex: 80;
  background-color: lightgray;
  height: 100vh;
  overflow-y: scroll;
  /* display: inline-block; */
}
.side_bar {
  flex: 20;
  height: 100vh;
  overflow-y: scroll;
  /* display: inline-block; */
  /* overflow-y: scroll; */
  /* white-space: nowrap; */
}

.no-link-highlight{
    color: black;
    text-align-last: center;
}
.no-link-highlight:hover{
    color: black;
    text-decoration-line: none;
    background-color: whitesmoke;
    font-weight: bolder;
}

.title_name {
  margin: 5px 1px 1px 0px;
}

.camp_heading {
  margin: 20px 20px 20px 20px;
  display: flex;
}
.camp_heading2 {
  margin: 10px 10px 10px 10px;
  display: flex;
}
.profile_plan {
  flex: 1;
}
.profile_info {
  float: right;
  flex: 1;
}

.work_area {
  width: 100%;
  height: auto;
}

.type_container {
  border: 1px solid lightgreen;
}
.type_container hr {
  border: 1px solid lightgreen;
}
