<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/mycss.css" />
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">MailerHeavy</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="#"
              >Dashbaord</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="#"
              >Campaigns</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="#"
              >Subscribers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Forms</a>
            </li>
          </ul>
          <form class="d-flex">
            <a
              class="btn btn-warning btn-my"
              href="/signup"
              role="button"
            >Signup</a>
            <a
              class="btn btn-warning btn-my"
              href="/login"
              role="button"
            >Login</a>
          </form>
        </div>
      </div>
    </nav>
    <div class="container container-frm">
      <form action="/login" method="post">
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="emails"
            class="form-control"
            id="emails"
            name="emails"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="Passwords">Password</label>
          <input
            type="password"
            class="form-control"
            id="passwords"
            name="passwords"
            placeholder="Password"
          />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      {{#if message}}
        <h4 class="alert alert-danger m4-4">{{message}}</h4>
      {{/if}}
    </div>
    <script src="jquery.js"></script>
    {{! <script src="bootstrap.js"></script>
    <script src="server.js"></script> }}
  </body>

</html>