<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript | fetch() Method from ejs file</title>
    <script>
        function getData() {
            user = {
                "name": "Geeks for Geeks",
                "age": "23"
            }
            // Options to be given as parameter
            // in fetch for making requests
            // other then GET
            let options = {
                method: 'POST',
                headers: {
                    'Content-Type':
                        'application/json;charset=utf-8'
                },
                body: JSON.stringify(user)
            }
            // Fake api for making post requests
            let fetchRes = fetch(
                "http://localhost:8080/get-tryal-json-object",
                options);
            fetchRes.then(res =>
                res.json()).then(d => {
                    console.log(d);
                    document.getElementById("ddata").innerHTML = d.name; 
                })
        }
    </script>
</head>

<body>
    <!-- <script>
        user = {
            "name": "Geeks for Geeks",
            "age": "23"
        }
        // Options to be given as parameter
        // in fetch for making requests
        // other then GET
        let options = {
            method: 'POST',
            headers: {
                'Content-Type':
                    'application/json;charset=utf-8'
            },
            body: JSON.stringify(user)
        }
        // Fake api for making post requests
        let fetchRes = fetch(
            "http://localhost:8080/get-tryal-json-object",
            options);
        fetchRes.then(res =>
            res.json()).then(d => {
                console.log(d)
            })
    </script> -->

    <div class="container">
        <button type="button" onclick="getData()">get data</button>
        <div class="ddata" id="ddata"></div>
    </div>


</body>

</html>