* {
  margin: 0;
  padding: 0;
}

body {
  text-transform: capitalize;
}

li {
  margin-bottom: 30px;
}



.wrapper {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  /* white-space: nowrap; */
}

.main_area {
  padding: 10px;
  /* flex: 80; */
  background-color: lightgray;
  height: 100vh;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  /* text-align: justify; */
  width: 82%;
  /* display: inline-block; */
}

.main_area::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.main_area::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.main_area::-webkit-scrollbar-thumb {
  background-color: #00000089;
  border: 2px solid #555555;
}

.side_bar {
  /* flex: 20; */
  height: 100vh;
  overflow-y: scroll;
  width: 18%;
  /* display: inline-block; */
  /* overflow-y: scroll; */
  /* white-space: nowrap; */
}

.side_bar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.side_bar::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.side_bar::-webkit-scrollbar-thumb {
  background-color: #00000089;
  border: 2px solid #555555;
}

.no-link-highlight {
  color: black;
  text-align-last: center;
}

.no-link-highlight:hover {
  color: black;
  text-decoration-line: none;
  background-color: whitesmoke;
  font-weight: bolder;
}

.title_name {
  margin: 5px 1px 1px 0px;
}

.camp_heading {
  margin: 20px 20px 20px 20px;
  display: flex;
}

.camp_heading2 {
  margin: 10px 10px 10px 10px;
  display: flex;
}

.profile_plan {
  flex: 1;
}

.profile_info {
  float: right;
  flex: 1;
}

.work_area {
  width: 100%;
  height: auto;
}

.type_container {
  border: 1px solid lightgreen;
}

.type_container hr {
  border: 1px solid lightgreen;
}


@media only screen and (max-width: 600px) {
  #create_form_image {
    display: none;
  }
}