.navbar {
    margin-bottom: 30px;
}
@media (min-width: 1200px) {
    .container-frm{
        max-width: 500px;
        
    }
}
.btn-my{
    margin-left: 5px;
    margin-right: 5px;
}
.avatar-ctn{
    background-color: orange;
    text-align: center;
}
.avatar{
    width: 65%;
}