* {
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2 url('https://formbuilder.online/assets/img/noise.png');
}

h3 {
    color: rgb(255, 255, 255);
}

.wrapper {
    height: 100vh;
    width: auto;
}

nav {
    background: rgb(97, 15, 15);
}

.builder-wrapper {
    padding: 10px;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

#fb-editor {
    /* width: 100%; */
    height: auto;
    margin-top: 10px;
}

.action_btns {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 10px;
}