<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css-files/campaigns.css" rel="stylesheet" type="text/css">
    <link href="/css-files/widgit.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>campaigns ejs</title>
</head>

<body>
    <div class="conatainer">
        <div class="side_bar overflow-auto flex-column bg-light">
            <%- include('../../../common/sidebar')%>
        </div>
        <div class="main_area">
            <div class="main_header">
                <div class="camp_heading">
                    <div class="profile_plan h3 ">
                        
                    </div>
                    <div class="profile_info">
                        <div class="profile_container">
                            <div class="profile_info_name h5 ">
                               
                            </div>
                            <div class="profile_info_email h5 ">
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="state">
                    <%- include('../../../common/edit-navbar')%>
                </div>
                <div class="title_name h2">schedual Your Campaign</div>
            </div>

            <div class="work_area">
                <div class="work_container m-4">
                    <form class="bg-light m-5" method="get" action="/campaigns/user/campaign_status">
                        <label class="h3 m-4 p-2">Set time to send Email of your campaign</label>
                        <div class="form-check m-4 pl-2">
                            <label class="form-check-label" for="exampleRadios1">
                                select time and date for sending email
                            </label>
                            <input type="datetime-local" id="time" name="time">
                        </div>
                        <hr>
                        <div class="pb-2 pl-4">
                            <button type="submit" class=" btn btn-primary">Save & next for review</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>