<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css-files/campaigns.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>campaigns ejs</title>
</head>

<body>
    <div class="conatainer">
        <div class="side_bar overflow-auto flex-column bg-dark">
            <%- include('../common/sidebar')%>
        </div>
        <div class="main_area">
            <h1 class="text-succes"> thiss is home page</h1>
        </div>
    </div>


</body>

</html>