* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: rgb(204, 204, 204);
    overflow-y: scroll;
}

h1 {
    /* margin-bottom: 40px; */
}

label {
    margin-left: 5px
}