<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-dark font-weight-bold h4" href="/Campaigns/sent">Sent Box <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-dark font-weight-bold h4" href="/Campaigns/drafts">Drafts</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-dark font-weight-bold h4" href="/Campaigns/outbox">Outbox</a>
            </li>
        </ul>
    </div>
</nav>
<hr>