<nav class="navbar navbar-expand-lg navbar-light  ">

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold h6" href="#">details <span><i
                        class="arrow-right "></i></span></a> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark font-weight-bold h6" href="#">contant <span><i
                        class="arrow-right "></i></span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark font-weight-bold h6" href="#">recipients <span><i
                        class="arrow-right "></i></span></a></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark font-weight-bold h6" href="#">review <span><i
                        class="arrow-right "></i></span></a></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark font-weight-bold h6" href="#">schedule</a>
        </li>
    </ul>

</nav>
<hr>