<nav class="navbar navbar-expand-lg navbar-light  ">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold h6" href="edit">details <span><i
                        class="arrow-right "></i></span></a> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark font-weight-bold h6" href="content">content <span><i
                        class="arrow-right "></i></span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark font-weight-bold h6" href="recipients">recipients <span><i
                        class="arrow-right "></i></span></a></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark font-weight-bold h6" href="review_email">review<span><i
                        class="arrow-right "></i></span></a></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark font-weight-bold h6" href="schedule_email">schedule</a>
        </li>
    </ul>
</nav>