<div class="sidebar d-flex w-100 flex-column flex-shrink-0 p-3 text-dark bg-light">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auhref text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use href="/"></use>
        </svg>
        <span class="fs-4 h2 text-success my-3">Mailerlite</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auhref">
        <li class="nav-item">
            <a href="/" class="nav-link text-dark" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                    <use href="/"></use>
                </svg>
                Dashboard
            </a>
        </li>
        <li>
            <a href="/Campaigns/outbox" class="nav-link text-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use href="#speedometer2"></use>
                </svg>
                Campaigns
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use href="#table"></use>
                </svg>
                Subscribers
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use heef="#grid"></use>
                </svg>
                Forms
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use href="#people-circle"></use>
                </svg>
                Sites
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use href="#people-circle"></use>
                </svg>
                Auhrefmation
            </a>
        </li>
        <br />
        <br />
        <li>
            <a href="#" class="nav-link text-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use href="#people-circle"></use>
                </svg>
                Account Settings
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use href="#people-circle"></use>
                </svg>
                Intigration
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use href="#people-circle"></use>
                </svg>
                File Manager
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use href="#people-circle"></use>
                </svg>
                My Tamplates
            </a>
        </li>
    </ul>

    <hr />
</div>