<form style="background-color: lightgray;">
    <div class="camp-navbar-row row" style="max-width: 500px;">
        <div class="col"> <input class="form-control" type="submit" formaction="/subscribers/allsubs" formmethod="post"
                value="All Subscribers">
        </div>
        <div class="col">
            <input class="form-control" type="submit" formaction="/subscribers/group" formmethod="post" value="Groups">
        </div>
    </div>
</form>