<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="color-scheme" content="dark"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>
    <script src="https://formbuilder.online/assets/js/form-render.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel='stylesheet' href='/stylesheets/style.css'> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Drag and Drop form builder</title>
    <style>
        /* css for create_form page */
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: #f2f2f2 url('https://formbuilder.online/assets/img/noise.png');
        }

        h3 {
            color: rgb(255, 255, 255);
        }

        .wrapper {
            height: 100vh;
            width: auto;
        }

        nav {
            background: rgb(97, 15, 15);
        }

        .builder-wrapper {
            padding: 10px;
            height: 100%;
            display: block;
            align-items: center;
            justify-content: center;
            padding-top: 20px;
            background: rgb(238, 174, 202);
            background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
        }

        #fb-editor {
            /* width: 100%; */
            height: auto;
            margin-top: 10px;
        }

        .action_btns {
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .action_btns .btn {
            margin: 2px 10px;
            color: white;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-light">
            <h3 style="color: white;">Drag & Drop Form Builder</h3>
            <div class="action_btns text-center">
                <button class="btn bg-danger" id="getData">Get HTML code</button>
                <button class="btn bg-danger" id="clear">Clear</button>
                <button class="btn bg-info" id="preview">Preview</button>
                <button class="btn bg-success" id="save">Save</button>
            </div>
        </nav>
        <div class="builder-wrapper">
            <!-- <div class="name_wrapper">
                <label for="form_name">Form name</label>
                <input type="text" name="form_name" id="form_name" class="form-control">
            </div> -->
            <div id="fb-editor"></div>
        </div>
        <div class="render-wrap"></div>
    </div>
    <script>
        data = '<%= data %>';
        form_id = '<%= form_id %>';
        user = '<%= user %>';
        domain = '<%= WEB_HOST %>';
        console.log(form_id, user, domain)
        form_data = data.replace(/&#34;/g, "\"");
        // console.log(form_data);
    </script>
    <script src="/javascripts/form_builder.js"></script>
</body>

</html>